/* Rofi general configuration */
configuration {
    modi:                       "drun,run,filebrowser,window";
    font:                       "JetBrains Mono 11";
    show-icons:                 true;
    icon-theme:                 "Papirus";
    display-drun:               " APPS";
    display-run:                " RUN";
    display-filebrowser:        " FILES";
    display-window:             " WINDOWS";
    drun-display-format:        "{name}";
    hover-select:               true;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
    window-format:              "{w} · {c} · {t}";
    click-to-exit:              true;
    
    /* Keybindings */
    kb-mode-next:               "Tab";
    kb-mode-previous:           "ISO_Left_Tab";
    kb-element-next:            "";
    kb-element-prev:            "";
    kb-row-tab:                 "";
    kb-remove-to-eol:           "";
    kb-accept-entry:            "Control+m,Return,KP_Enter";
    kb-row-down:                "Down,Control+n,Control+j";
    kb-row-up:                  "Up,Control+p,Control+k";
}
